EjsManager/Service References/ejsServiceReference/EjsPublicService.UserOp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EjsPublicService.UserOp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EjsPublicService.UserOp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ejsUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatabaseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAccountActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLoggedIn" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserGroupId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ejsUserInfo" nillable="true" type="tns:ejsUserInfo" />
  <xs:complexType name="ArrayOfejsUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ejsUserInfo" nillable="true" type="tns:ejsUserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfejsUserInfo" nillable="true" type="tns:ArrayOfejsUserInfo" />
</xs:schema>