client/Meet E Journal/EjsBridge/Service References/ejsService/EjsWcfService.AssignmentOp1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EjsWcfService.AssignmentOp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EjsWcfService.AssignmentOp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ejsAssignment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignmentContentType" type="xs:int" />
      <xs:element minOccurs="0" name="CommentCount" type="xs:int" />
      <xs:element minOccurs="0" name="CourseId" type="xs:long" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataSize" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EJSDatabaseId" type="xs:int" />
      <xs:element minOccurs="0" name="ExternalAssignmentId" type="ser:guid" />
      <xs:element minOccurs="0" name="IsAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsManagedByEJournalServer" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OriginalOwnerDbId" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerUserId" type="ser:guid" />
      <xs:element minOccurs="0" name="ParentAssignmentId" type="ser:guid" />
      <xs:element minOccurs="0" name="StudyCount" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
      <xs:element minOccurs="0" name="studies" nillable="true" type="tns:ArrayOfejsStudyMetaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ejsAssignment" nillable="true" type="tns:ejsAssignment" />
  <xs:complexType name="ArrayOfejsStudyMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ejsStudyMetaData" nillable="true" type="tns:ejsStudyMetaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfejsStudyMetaData" nillable="true" type="tns:ArrayOfejsStudyMetaData" />
  <xs:complexType name="ejsStudyMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommentCount" type="xs:int" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OwnerId" type="ser:guid" />
      <xs:element minOccurs="0" name="ParentAssignmentId" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ejsStudyMetaData" nillable="true" type="tns:ejsStudyMetaData" />
  <xs:complexType name="ArrayOfejsAssignment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ejsAssignment" nillable="true" type="tns:ejsAssignment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfejsAssignment" nillable="true" type="tns:ArrayOfejsAssignment" />
</xs:schema>