client/Meet E Journal/EjsBridge/Service References/ejsService/EjsWcfService.ServerOp1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EjsWcfService.ServerOp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EjsWcfService.ServerOp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EjsWcfService" />
  <xs:complexType name="ejsServerStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="_currentLiveConnectionCount" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EjsWcfService" minOccurs="0" name="_currentSessions" nillable="true" type="q1:ArrayOfejsSessionToken" />
      <xs:element minOccurs="0" name="_serverName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ejsServerStats" nillable="true" type="tns:ejsServerStats" />
</xs:schema>